html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main {
  padding: 20;
  text-align: center;
}

a {
  color: #ED2771;
  text-decoration: none;
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td, tr {
  text-align: left;
}

#debug-table {
  border-collapse: collapse;
}

#debug-table td, #debug-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#debug-table tr:nth-child(even){background-color: #f2f2f2;}

#debug-table tr:hover {background-color: #ddd;}

#debug-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ED2771;
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 5px 11px;
  margin-bottom: 2px;
  line-height: 13px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  background: #23B1EC;
  text-transform: uppercase;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #23B1EC;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
}